.App {
  background-color: white;
  height: 80vh;
  width: 100vw;
  display: grid;
  place-items: center;
}
.App-cont > text {
  color: black;
  cursor: pointer;
  text-decoration: underline;
  transition: all ease;
  margin-left: 20px;
}
.App-cont > text:hover {
  color: blue;
}
