.news-contaner {
  background-color: #ededed;
  box-shadow: -1px 4px 20px -6px rgb(0 0 0 / 75%);
  height: 90vh;
  margin-top: 20px;
  width: 90vw;
  text-align: center;
}
.comments-cont {
  text-align: left;
  display: block;
  margin-bottom: 16px;
}
