.search-box {
  text-align: center;
  margin-bottom: 10px;
}
.head {
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-family: "Times New Roman", Times, serif;
}
.search {
  display: flex;
  z-index: 3;
  height: 44px;
  background: #fff;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  width: 638px;
  max-width: 584px;
}
.search-cont {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 40px;
  border-radius: 20px;
}
.search-cont > .MuiSvgIcon-root {
  color: grey;
  padding: 10px;
}
.search-cont > form {
  flex: 1;
  display: flex;
}
.search-cont > form > input {
  flex: 1;
  border-radius: 30px;
  padding: 15px;
  border: none;
}
.search-cont > form > button {
  display: none;
}
.off {
  width: 0;
  height: 0;
}
.search-res {
  text-align: left;
  margin-left: 50px;
}
.back-text {
  color: black;
  transition: all ease;
}
.back-text:hover {
  color: blue;
  cursor: pointer;
}
.search-res > h1 {
  font-size: 25px;
}
.search-info {
  display: block;
}
.search-info > h2 {
  color: grey;
  text-align: right;
  font-size: 20px;
  margin-top: -15px;
}
.search-info > text {
  color: grey;
  font-size: 20px;
}
